<!DOCTYPE html>

<html>
   <head>
      <title>Kris Girard Portfolio App</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <div class="container">
      <h1>Kris Girard Portfolio App</h3>
      <ul>
        <li><a href="/date">Timestamp Microservice</a></li>
        <li><a href="/requestHeaderParser">Request Header Parser Microservice</a></li>
        <li><a href="/urlShortener">URL Shortener Microservice</a></li>
        <li><a href="/exercise">Exercise Tracker Microservice</a></li>
      </ul>
     </div>
  </body>
</html>
